# Ignored directories
.data/
__pycache__/
venv/
tmp/

# Python compiled files
*.pyc
*.pyo
*.pyd

# Jupyter Notebook files
.ipynb_checkpoints/

# IDE files
.vscode/

# Environment variables
.env
.flaskenv

# Streamlit secrets
secrets.toml